@font-face{
  font-family: 'MulishExtraLight';
  src:url('/Fonts/Mulish-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}
@font-face{
  font-family: 'MulishLight';
  src:url('/Fonts/Mulish-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face{
  font-family: 'Mulish';
  src:url('/Fonts/Mulish-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face{
  font-family: 'MulishMedium';
  src:url('/Fonts/Mulish-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face{
  font-family: 'MulishSemiBold';
  src:url('/Fonts/Mulish-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face{
  font-family: 'MulishBold';
  src:url('/Fonts/Mulish-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face{
  font-family: 'MulishExtraBold';
  src:url('/Fonts/Mulish-ExtraBold.woff2') format('woff2');
  font-weight: 800;
}
@font-face{
  font-family: 'MulishBlack';
  src:url('/Fonts/Mulish-Black.woff2') format('woff2');
  font-weight: 900;
}
@font-face{
  font-family: 'GilroyLight';
  src:url('/Fonts/gilroy-light.woff2') format('woff2'),url('/Fonts/gilroy-light.woff') format('woff');
  font-weight: 300;
}
@font-face{
  font-family: 'Gilroy';
  src:url('/Fonts/gilroy-regular.woff2') format('woff2'),url('/Fonts/gilroy-regular.woff') format('woff');
  font-weight: 400;
}
@font-face{
  font-family: 'GilroySemiBold';
  src:url('/Fonts/gilroy-semibold.woff2') format('woff2'),url('/Fonts/gilroy-semibold.woff') format('woff');
  font-weight: 600;
}
@font-face{
  font-family: 'GilroyBold';
  src:url('/Fonts/gilroy-bold.woff2') format('woff2'),url('/Fonts/gilroy-bold.woff') format('woff');
  font-weight: 700;
}

body {
    font-family: 'Mulish  ', sans-serif;
    padding: 0;
    margin: 0 ;
}
html,
body {
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
}

a {
color: inherit;
text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0 ;

}
